<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Your suggested car <%= @car.license %> is approved by admins, <%= @customer.name %></h1>
<p>
  The car which you are suggested is now approved.<br>
  Check here:<br>
  https://car-rental-ltx.herokuapp.com/
</p>
</body>
</html>