<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Car <%= @car.license %> is available now, <%= @customer.name %></h1>
<p>
  The car which you are interested in is now available.<br>
  Check here:<br>
  https://car-rental-ltx.herokuapp.com/
</p>
</body>
</html>