<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Your car <%= @car.license %> is automatically returned now, <%= @customer.name %></h1>
<p>
  The car which you are checked out is now returned. Because your rental time is out<br>
  Check here:<br>
  https://car-rental-ltx.herokuapp.com/
</p>
</body>
</html>