<% if current_authority != $customer %>
    <h1>Editing Car</h1>
<% else %>
    <h1>Editing Suggestion</h1>
<% end %>

<%= render 'form', car: @car %>

<%= link_to 'Show', @car %> |
<%= link_to 'Back', cars_path %>
